.card {
  position: relative; /*Relative to its normal position not the view port.*/
  background-color: white;
  width: 400px;
  padding: 20px;
  height: 440px;
  max-width: 85vw;
  box-shadow: 0px 18px 53px 0px rgba(0, 0, 0, 0.3);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  object-fit: cover;
  
}


.tinderCards_cardContainer {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 10vh;
  padding:5px;

}

.swipe {
  /**This is a class name given to each tinder card. */
  position: absolute;
  padding:10px;
}

.card h3 {
  position: absolute;
  top: 0;
  left:0;
  margin: 10px;
  font-family:Trebuchet;
  color: white;
}

@media  (min-width:1024px) {
  .card {
  
  width: 600px;
  height: 440px;
  
}
  .card h3 {
  position: absolute;
  top: 10px;
  left:10px;
  margin: 10px;
  color: white;
}



  
}